.sapMPage.sapUiContentPadding>section {
	padding: 0rem !important;
}
.green{
	background-color:#afeabe !important;
}

.red{
	background-color:rgba(234, 130, 130, 0.57) !important;
}

.yellow{
	background-color:#f9e442a8 !important;
}

.white{
	background-color:#ffffff !important;
	color: #346187 !important;
}

.selected{
	border:2px solid #427cac !important;
}

.labelAllign{
	padding-top: 0.5rem !important;
}